.bug-sort {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  margin-bottom: 5px;
}

.bug-sort .sort-type {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.bug-sort .sort-type:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 3px rgba(var(--primary-color-rgb), 0.3);
}

.bug-sort label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}

.bug-sort input[type='checkbox'] {
  margin-right: 5px;
  cursor: pointer;
}
